<div class="container">
  <div class="content">
    <h1 style="margin-left:0%; font-size:36px; text-align:center; margin-right:auto; font-family:Raga,Verdana, Geneva, sans-serif"> Let  Knowledge flow free</h1>
    <span style=" text-align:center"> <img src="/assets/center_image.png" style="display:block; margin-left:auto; margin-right:auto;"/>
    </span>
    <h2 style="font-family:din_light,Verdana, Geneva, sans-serif; text-align:center;">A TRIBUTE TO AARON SWARTZ  </h2>
    <h1 style="font-family:din_medium,Verdana, Geneva, sans-serif; text-align:center; margin-top:-20px;">JOIN THE BAND  </h1>
    
    
    <div style="margin-left:auto; margin-right:auto; text-align:center;">
    <div onclick="toggle_visibility('foo');"> 
    <img src="/assets/contri.png" /></div>
    </br></br>
<div id="foo" hidden=" ">
<%= form_for(@join, url: join_path(), remote: true) do |f| %>
<div id="message"></div>
<input type="text" name="join[email]"   placeholder="Enter E-mail ID " style="background-color:#cdad9e;border-color:#FFF;color:#FFF; opacity:0.8">Contribution:
<select style="background-color:#cdad9e;border-color:#FFF;color:#FFF; opacity:0.8" name = "join[association_type]" >
  <option value="Donor">Donor</option>
  <option value="Design" style="background-color:transparent">Designer</option>
  <option value="Dev" style="background-color:transparent">Developer</option>
  <option value="Volunteer" style="background-color:transparent">Volunteer</option>
</select>
<input type="submit" value="Submit" id="submit" >
<% end %>
</div>
</div></br></br>
<p style="text-align:center; font-size:20px; position:static;">
<a href="http://blog.barter.li" style=" color:#FFF">Blog</a>   <a href="/credits" style=" color:#FFF">Credits</a></p>
    
    
    
   
  <!-- end .content --></div>
  <!-- end .container --></div>




