<div class="container">
  <div class="content">
    <h1 style="margin-left:0%; font-size:36px; text-align:center; margin-right:auto; font-family:Raga,Verdana, Geneva, sans-serif"> Let  Knowledge flow free</h1>
    <span style=" text-align:center"> <a href="http://en.wikipedia.org/wiki/Aaron_Swartz"><img src="<%= asset_path 'center_image.png' %>" style="display:block; margin-left:auto; margin-right:auto;"/></a>

    </span>
    <h2 style="font-family:din_light,Verdana, Geneva, sans-serif; text-align:center;"><a href="http://en.wikipedia.org/wiki/Aaron_Swartz">A TRIBUTE TO AARON SWARTZ</a></h2>
    <p style="font-family:din_medium,Verdana, Geneva, sans-serif; text-align:center; margin-top:-20px;font-size:21px">barter.li - an open source community project to empower free exchange of books.  </p>
    
    
    <div style="margin-left:auto; margin-right:auto; text-align:center;">
    <div onclick="toggle_visibility('foo');"> 
    <img class ="shadow" src="<%= asset_path 'contri.png' %>" /></div>

    </br></br>
<div id="foo" hidden=" ">
<%= form_for(@join, url: join_path(), remote: true) do |f| %>
<div id="message"></div>
<input type="text" name="join[email]" class="textbox"  placeholder="Enter E-mail ID">&nbsp;
<span class="dropdown">
<select class="textbox-select" name = "join[association_type]" >
  <option value="" disabled selected style="background-color:transparent;display:none">Enlist As</option>
  <option style="background-color:transparent" value="Sponsor">Sponsor</option>
  <option value="Design" style="background-color:transparent">Designer</option>
  <option value="Developer" style="background-color:transparent">Developer</option>
  <option value="Volunteer" style="background-color:transparent">User</option>
  <option value="Volunteer" style="background-color:transparent">Volunteer</option>
</select>
</span>
<input type="submit" value="Submit"  id="gobutton" >
<% end %>
</div>
</div></br></br>
<p class = "blog" style="text-align:center; font-size:20px; position:static;">
<a href="http://blog.barter.li" style=" color:#FFF">Blog</a> </p>
    
    
    
   
  <!-- end .content --></div>
  <!-- end .container --></div>




