<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title> barter.li - a tribute to Aaron Swartz - is an open source community project to empower free exchange of books</title>
  <meta name="description" content="barter.li - a tribute to aaron swartz - is an open source community project to empower free exchange of books">
  <meta name="keywords" content="barter.li, exchange books, free knowledge, aaron swartz">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
